@model HomeViewModel
	   
@using System.Web.Mvc.Ajax
@using HandleActionRefactor.Controllers
@{
    ViewBag.Title = "Home Page";
}

<h2>Name and Age Verification</h2>

<p>

    @Html.ValidationSummary()
    
    @using (Html.Form<HomeInputModel>()) {
        
        <div>
            <span>Name: </span>
            @Html.Input(x=>x.Name)
        </div>
        <div>
            <span>Age: </span>
            @Html.Input(x=>x.Age)
        </div>
        
        @Html.Submit("Verify")

		<input type="button" id="ajaxcall" name="ajaxcall" value="Ajax Call"/>
		
	}
</p>

<script type="text/javascript">

	$("#ajaxcall").click(function () {

		var homeInputModel = {};
		homeInputModel.Name = $("#Name").val();
		homeInputModel.Age = $("#Age").val();

		$.post("/home/IndexJSON",
			data = homeInputModel,
			function (data, status) {
				alert("MyMessage: " + data.message + " data.status"+data.message+ "\nStatus: " + status);
			},
			"json");

	});	

	function feedbackRecorded(message) {
		alert(message);
	}
	function searchFailed(message) {
		alert("Search Failed");
	}

</script>	